@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Proxima\ Nova/proximanova_regular.ttf') format('woff');
}
:root{
    --text-color: #FFFFFF;
}
.transition_standart, .transition_standart:hover{
    transition: 0.5s;
}
*{
    font-family: 'Proxima Nova';
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    user-select: none;
    border: none;
    }
.white{
    color: var(--text-color);
    transition: 0.5s;    
}
.orange{
    color: #F14A16;    
}
.position_absolute{
    position: absolute;
    z-index: 2;
}
.display_none-transition{
    display: none;
}
button.fill, button.transparent{
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
}
button.fill{
    background-color: #F14A16;
    color: #E5E5E5;
    box-shadow: 0 0 21px #F14A16;
    }
button.fill:hover{
    background-color: #c93c12;
    transition: 0.5s;}
button.fill:active{
    background-color: #F14A16;
    color: #ffffff;}
button.transparent{
    border: 1px #F14A16 solid;
    background-color: rgba(255, 255, 255, 0);
    color: #F14A16;
    box-shadow: 0 0 7px #F14A16;}
button.transparent:hover{
    background-color: #f149162f;
    transition: 0.5s;}
button.transparent:active{
    background-color: #ffffff00;
    color: #ffffff;}
.pointer{
    cursor: pointer;
}
h1{
    color: var(--text-color);
    transition: 0.5s;
    font-size: 85px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 5%;
}
h2{
    color: var(--text-color);
    transition: 0.5s;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2%;
}
h2 > *:nth-child(2){
    color: #FC9918;
    margin: 0 17px 0 0;
}
h2 > *:nth-child(3) {
    font-size: 18px;
    text-decoration: line-through;
}
h5{
    color: #A4A4A4;
    font-size: 32px;
    font-weight: 100;
    line-height: 40px;
    letter-spacing: 2%;
}