:root {
    --main-color: #070606;
    --elements-color: #000000;
}
body{
    background-color: var(--main-color);
    transition: 0.5s;
}
header{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 1250px;
    padding: 14px 46px 75px 90px;
}
    header nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 99px 0 0;
    }
        header nav article{
            display: flex;
            justify-content: space-between;
            gap: 60px
        }
            header nav article ul{
                display: flex;
                gap: 40px;
            }
                header nav article ul li{
                   transition: border-bottom 0.5s ease; 
                   border-bottom: 2px solid transparent;
                }
                header nav article ul li:hover{
                    border-bottom: 2px solid #FC9918;
                    }
        header nav article .tumbler{
            display: flex;
            justify-content: space-between;
            width: 80px;
            height: 37px;
            padding: 4px;
            background-color: var(--elements-color);
            transition: 0.5s;
            border-radius: 30px;
        }
            header nav article .tumbler div{
                width: 28px;
                height: 28px;
                background-color: #888888;
                border-radius: 28px;}    
        header nav article button{
            padding: 14px 38px;}
                #tumbler{
                    transition: transform 0.5s ease;
                    translate: 42px;
                }
                    #sun{
                        opacity: 0;
                    }
    header section{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;}
            header section h1{
                max-width: 570px;
            }
                header section h1 font{
                    color: #F14A16;
                }
            header section h5{
                max-width: 727px;
            }
            header section article{
                display: flex;
                justify-content: space-between;
                gap: 30px;
                margin: 0 0 0 25px;
            }
                header section article button{
                    width: 220px;
                    height: 64px;
                    gap: 10px;
                }
    header aside{
        display: flex;
        justify-content: right;
        width: 100%;
        gap: 230px;
    }
        header aside ul{
            display: flex;
            justify-content: space-between;
            width: 1130px;}
                header aside ul li{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: start;
                    background: linear-gradient(135deg,#c0c0c044 20%, #ffffff1a 50%,#ffffff00 90%);
                    backdrop-filter: blur(30px);
                    height: 180px;
                    width: 350px;
                    border: 1px #ffffff50 solid;
                    border-radius: 25px;
                    padding: 10px 15px;
                }
                    header aside ul li img{
                        position: absolute;
                        top: -105px;
                        left: 100px;}
.Background-particle-blue{
    position: absolute;
    width: 904px;
    height: 904px;
    border-radius: 904px;
    background-color: #34489A;
    filter: blur(340px);
    z-index: -1;
    bottom: 0;
    left: -189px;
    opacity: 1;
}
.Background-particle-purple{
    position: absolute;
    width: 954px;
    height: 954px;
    border-radius: 954px;
    background-color: #370665;
    filter: blur(300px);
    z-index: -1;
    top: -315px;
    right: -100px;
}
.Background-man{
    position: absolute;
    float: right;
    z-index: -1;
    right: 0;
}
.Trends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding: 130px 0;
}
    .Trends>ul{
    display: flex;
    gap: 125px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    }
        .Trends>ul::-webkit-scrollbar {
            visibility: hidden;
        }
        .Trends>ul>li{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 50px;
            border: #ffffffa8 1px solid;
            height: 696px;
            max-width:380px;
            padding: 0 25px;
            background:linear-gradient(135deg, #ffffffd0 0%, #ffffff13 100%);
            font-size: 26px;
            line-height: 36px;
            scroll-snap-align: center;
        }
            .Trends h2{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                height: 256px;
                color: #FFFFFF;
            }
                .Trends ul li ul li{
                    list-style-type: disc;
                    list-style-position: inside;
                    font-size: 18px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            .Trends aside{
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 0 25px 0;
            }
                .Trends aside button{
                    width: 150px;
                    height: 50px;
                }
.Why{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin: 0 126px 170px 126px;
    padding: 30px 56px 56px 56px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    background:linear-gradient(110deg, #370665 0%, #35589A 100%);
    border-radius: 25px;
}
    .Why h1{
        font-size: 45px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .Why ul{
        display: flex;
        gap: 115px;
    }
        .Why ul li{
            display:flex;
            gap: 20px;
            color: #FFFFFF;
        }
.Offer{
    display: flex;
    gap: 50px;
    padding: 0 190px 190px;
}
    .Offer article:nth-of-type(1){
        position: relative;
        display: flex;
        justify-content: start;
        align-items: start;
    }
        .Offer article:nth-of-type(1) div{
            display: flex;
            position: absolute;
            background-color: #370665;
            width: 166px;
            height: 166px;
            border-radius: 166px;
            margin: 18px 0 0 43px;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0.02em;
            text-align: center;
            box-shadow: 8px 10px 17px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
        }
    .Offer article:nth-of-type(2){
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
        .Offer article:nth-of-type(2) section{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
            .Offer article:nth-of-type(2) section h2{
                font-size: 36px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.02em;
            }
            .Offer article:nth-of-type(2) section ul{
                display: flex;
                gap: 20px;
                font-size: 36px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0.02em;
            }
                .Offer article:nth-of-type(2) section ul li{
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                }
                    .Offer article:nth-of-type(2) section ul li div{
                        background-color: #370665;
                        padding: 17px 12px;
                        border-radius: 32px;
                        font-size: 60px;
                        font-weight: 700;
                        line-height: 60px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
        .Offer article:nth-of-type(2) aside{
            display: flex;
            gap: 25px;
        }
            .Offer article:nth-of-type(2) aside button{
                width: 225px;
                height: 75px;
            }
.Other{
    display: flex;
    flex-direction: column;
    gap: 140px;
}
    .Other h1{
        font-size: 65px;
        line-height: 65px;
        letter-spacing: 0.04em;
    }
    .Other article{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        max-width: 1470px;
    }